
.main-nav {
  @media (max-width: $vp-767) {
    height: 0;
    overflow: hidden;
  }
}

.main-nav.is-opened {
  @media (max-width: $vp-767) {
    height: auto;
    overflow: hidden;
  }
}

.main-nav--no-js {
  @media (max-width: $vp-767) {
    height: auto;
    overflow: hidden;
  }
}

.main-nav__list {
  margin: 0;
  box-sizing: border-box;
  padding: 23px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 39px;

  @media (max-width: $vp-1023) {
    display: flex;
    flex-direction: column;
  }
}

.main-nav__link {
  font-family: "PTMono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $alice-blue-dark;
  text-decoration: none;
}

.main-nav__link:hover {
  transform: scale(1.2);
  color: $deep-sky-blue;
  border-bottom: 1px solid $deep-sky-blue;
}

.main-nav__item {
  padding-bottom: 8px;
}

.main-nav__item--products {
  order: 2;
}


.main-nav__item--production {
  order: 3;
}

.main-nav__item--mounting {
  order: 5;
}

.main-nav__item--delivery {
  order: 2;
}

.main-nav__item--contacts {
  order: 4;
}
