
.modal__wrapper {
  top: 2px;
  position: fixed;
  width: 99.3%;
  background: $pearl-shadow;
  display: none;
  justify-content: center;
}

.modal__wrapper.is-open {
  display: flex;
  z-index: 100;
  height: 100vh;
  overflow: scroll;
}

.modal__content-container {
  background: $deep-sky-blue;
  display: flex;
  flex-direction: column;
  background-position: 0 0;
  background-repeat: repeat;
  width: 500px;
  padding: 0;
  height: 610px;
  position: relative;
  margin: 7.5% 20px;
}

.modal__title-container {
  padding-top: 36px;
  padding-left: 40px;
}

.modal__title-container h2 {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin: 0;
}

.modal__title-container p {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-white;
  margin: 0;
  padding-top: 6px;
  padding-left: 0;
  padding-right: 59px;
}

.modal__form-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.modal__content-container li {
  margin-bottom: 22px;
}

.modal__form-container fieldset {
  border: none;
  padding: 0;
}

.modal__form-container fieldset ~ div {
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 3px;
  display: flex;
  flex-direction: column-reverse;
}

.modal__form-container form {
  padding: 7.6% 8.1% 7% 7.5%;
}

.modal__form-container input,
textarea {
  font-family: "PTMono", "Arial", sans-serif;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: $shade-black-pearl;
  border: 0;
  box-sizing: border-box;
  height: 49px;
  padding: 0 0 0 14px;
  color: $color-default-white;
}

.modal__content-container input::-moz-placeholder {
  color: $color-default-white;
}

.modal__content-container textarea::-moz-placeholder {
  color: $color-default-white;
}

.modal__content-container input::-webkit-input-placeholder {
  color: $color-default-white;
}

.modal__content-container textarea::-webkit-input-placeholder {
  color: $color-default-white;
}

.modal__form-container textarea {
  height: 152px;
  padding: 21px 0 0 14px;
}

.modal__form-container label {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $shade-white;
  cursor: pointer;
}

.modal__form-container label:hover {
  color: $black-pearl;
}

.modal__checkbox-container {
  padding-left: 0;
  padding-top: 4.3%;
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 2px;
  grid-column: 2;
  grid-row: 1;
}

.modal__form-container li {
  margin-right: 0;
}

.modal__checkbox-container input {
  opacity: 0;
}

.modal__checkbox-container input + label::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 19px;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 1;
}

.modal__checkbox-container input + label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 21px;
  width: 8px;
  height: 7px;
  box-sizing: border-box;
  border-left: 2px solid $color-default-white;
  border-bottom: 2px solid $color-default-white;
  transform: rotate(-45deg);
  z-index: 3;
  display: none;
}

.modal__checkbox-container input:checked + label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 21px;
  width: 8px;
  height: 7px;
  box-sizing: border-box;
  border-left: 2px solid $color-default-white;
  border-bottom: 2px solid $color-default-white;
  transform: rotate(-45deg);
  z-index: 3;
  display: block;
}

.modal__checkbox-container input:hover + label::before {
  border: 2px solid $black-pearl;
  cursor: pointer;
}

.modal__checkbox-container input:focus + label::before {
  border: 2px solid $black-pearl;
  cursor: pointer;
}

.modal__submit-wrapper button {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 3% 12%;
  color: $color-default-white;
  background-color: $black-pearl;
  cursor: pointer;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}

.modal__submit-wrapper button:hover {
  color: $black-pearl;
  background-color: $iron;
  outline: 2px solid $black-pearl;
}

.modal__submit-wrapper button:focus {
  color: $black-pearl;
  background-color: $iron;
  outline: 2px solid $black-pearl;
}

.modal__submit-wrapper button:active {
  color: $black-pearl;
  background-color: $iron;
  outline: 2px solid $black-pearl;
  transform: scale(1.1);
}

.modal__button-wrapper button {
  top: 17px;
  right: 16px;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__button-wrapper button::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 3px;
  width: 29px;
  height: 1px;
  background-color: $color-default-white;
  transform: rotate(45deg);
}

.modal__button-wrapper button::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 3px;
  width: 29px;
  height: 1px;
  background-color: $color-default-white;
  transform: rotate(-45deg);
}

.modal__button-wrapper button:hover {

  transform: scale(1.5);

  &::after {
    background-color: $black-pearl;
  }

  &::before {
    background-color: $black-pearl;
  }
}

.modal__button-wrapper button:focus {

  transform: scale(1.5);

  &::after {
    background-color: $black-pearl;
  }

  &::before {
    background-color: $black-pearl;
  }
}

.modal__button-wrapper button:active {
  &::after {
    background-color: $alice-blue-dark;
  }

  &::before {
    background-color: $alice-blue-dark;
  }
}
