.page-header {
  background-image: $pearl-gradient;
  box-shadow: $shadow;
  position: fixed;
  width: 100%;
}

.page-header__container {
  max-width: 1252px;
  margin: 0 auto;
  display: flex;
  min-height: 109px;
  align-items: center;
  padding: 0 15px;

  @media (max-width: $vp-1023) {
    min-height: 95px;
    padding: 0 50px;
  }

  @media (max-width: $vp-767) {
    min-height: 65px;
    padding: 0 26px;
  }
}

.page-header__contacts {
  flex: 1 1 auto;
}

.page-header__button {
  flex: 0 0 222px;

  @media (max-width: $vp-1023) {
    flex: 0;
  }
}
