.page-header {
  background: $pearl-gradient;
  position: fixed;
  width: 100%;
  z-index: 10;

  @media (max-width: $vp-1023) {
    position: absolute;
    min-width: 320px;
  }
}

.page-header__container {
  max-width: 1222px;
  margin: 0 auto;
  display: flex;
  min-height: 109px;
  padding: 0 15px;

  @media (max-width: $vp-1023) {
    min-height: 95px;
    padding: 0 50px;
  }

  @media (max-width: $vp-767) {
    min-height: 65px;
    padding: 0 8%;
  }
}

.page-header__contacts {
  flex: 1 1 auto;
}

.page-header__button {
  padding-top: 35px;
  flex: 0 0 222px;

  @media (max-width: $vp-1023) {
    flex: 0;
  }
}
