.page {
  scroll-behavior: smooth;
}

.page__body-wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.page__body.is-hidden {
  overflow: hidden;
  position: relative;
}
